<div st-table="displayedCollection" st-safe-src="cmdpapeteries.cmdpapeterieslist" >
  <form class="form-horizontal">
    <div class="col-md-12">
      <div class="well bs-component">
        <fieldset>
          <legend>Filtres de recherches</legend>
          <div class="form-group">
            <label for="dateinf" class="col-sm-2 control-label">Date envoi entre le</label>
            <div class="col-sm-2">
              <input type="date" id="dateinf" class="form-control" ng-model="search.date">
            </div>
            <label for="datesup" class="col-sm-1 control-label">et le</label>
            <div class="col-sm-2">
              <input type="date" id="datesup" class="form-control" ng-model="search.date2">
            </div>
            <label for="numero" class="col-sm-1 control-label">Commande</label>
            <div class="col-md-2">
              <input type="text" ga-search="numero" class="form-control" id="numero">
            </div>
          </div>
          <div class="form-group">
            <label for="fournisseur" class="col-sm-2 control-label">Fournisseur</label>
            <div class="col-md-2">
              <select class="form-control" id="fournisseur" ga-search="fournisseur">
                <option value="">-- Tous --</option>
                <option ng-repeat="fournisseur in cmdpapeteries.fournisseurlist" ng-model="fournisseur" ng-value="fournisseur">{{fournisseur}}</option>
              </select>
            </div>
            <label for="numBLMad" class="col-sm-1 control-label">Num BL MAD</label>
            <div class="col-sm-2">
              <input type="text" id="numBLMad" class="form-control" ga-search="numeroBL">
            </div>
            <label for="numLivraison" class="col-sm-1 control-label">Num Livraison</label>
            <div class="col-sm-2">
              <input type="text" id="numLivraison" class="form-control" ga-search="numLivraison">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-2 checkbox">
              <label>
                <input type="checkbox" ng-model="marches.val" ng-click=""> Voir les commandes annulées
              </label>
            </div>
            <div class="col-md-2 checkbox">
              <label>
                <input type="checkbox" ng-model="marches.val2" ng-click=""> Voir les commandes soldées
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Liste</legend>
        <table class="table table-striped table-wrap table-bdf">
          <thead>
          <tr>
            <th st-sort="date">Date envoi</th>
            <th st-sort="numero">Num Cmde</th>
            <th st-sort="papeterie">Papeterie</th>
            <th st-sort="fournisseur">Fournisseur</th>
            <th st-sort="quantite">Quantite</th>
            <th st-sort="prix">Prix</th>
            <th st-sort="previsisonMad">Prévision MAD</th>
            <th>Suppr</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="cmdpapeterie in displayedCollection">
            <td>{{::cmdpapeterie.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{::cmdpapeterie.numero}}</td>
            <td>{{::cmdpapeterie.papeterie}}</td>
            <td>{{cmdpapeterie.fournisseur}}</td>
            <td>{{::cmdpapeterie.quantite}}</td>
            <td>{{::cmdpapeterie.prix}}</td>
            <td>{{::cmdpapeterie.previsisonMad | date: 'dd/MM/yyyy'}}</td>
            <td>
              <button class="btn btn-danger btn-xs">
                <i class="fa fa-trash-o"></i> Supprimer
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
             	<td colspan="9">
             	<div st-pagination="" st-items-by-page="12"  st-displayed-pages="7"></div>
             	</td>
             	</tr>
          </tfoot>
        </table>
      </fieldset>
    </div>
  </div>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Actions</legend>
        <div class="form-group">
          <button class="btn btn-primary" ui-sref="main.cmdpapeterie.edit" type="button">Nouveau</button>
          <button class="btn btn-success" type="reset">Exporter</button>
          <button class="btn btn-danger" type="reset">Grille tarifaire</button>
          <button class="btn btn-danger" type="reset">Prévisionnel</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
