<div st-table="displayedCollection" st-safe-src="stockpaps.stockpapslist" >
  <form class="form-horizontal">
    <div class="col-md-12">
      <div class="well bs-component">
        <fieldset>
          <legend>Filtres de recherches</legend>
          <div class="form-group">
            <label for="fournisseur" class="col-sm-2 control-label">Lieu de stockage (dépôt)</label>
            <div class="col-md-3">
              <select class="form-control" id="fournisseur" ga-search="libelleDepot">
                <option value="">-- Tous --</option>
                <option ng-repeat="depot in stockpaps.depotslist" ng-model="depot.libelleDepot" ng-value="depot.libelleDepot">{{depot.codeDepot +' - '+ depot.libelleDepot}}</option>
              </select>
            </div>
            <label for="papeterie" class="col-sm-2 control-label">Papeterie</label>
            <div class="col-md-3">
              <select class="form-control" id="papeterie" ga-search="codePapeterie">
                <option value="">-- Toutes --</option>
                <option ng-repeat="papeterie in stockpaps.papeterielist" ng-model="papeterie" ng-value="papeterie">{{papeterie}}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Détail stock</legend>
        <table class="table table-striped table-wrap table-bdf">
          <thead>
          <tr>
            <th st-sort="libelleDepot">Lieu de stockage</th>
            <th st-sort="libellePapeterie">Papeterie</th>
            <th st-sort="stock">Stock</th>
            <th st-sort="stockMinimum">Stock minimum</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="stock in displayedCollection">
            <td>{{::stock.libelleDepot}}</td>
            <td>{{::stock.libellePapeterie + ' - ' + stock.codePapeterie}}</td>
            <td><input type="text" id="stock" value="{{::stock.stock}}"></td>
            <td><input type="text" id="stockMinimum" value="{{::stock.stockMinimum}}"></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
             	<td colspan="9">
             	<div st-pagination="" st-items-by-page="12"  st-displayed-pages="7"></div>
             	</td>
             	</tr>
          </tfoot>
        </table>
      </fieldset>
    </div>
  </div>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Actions</legend>
        <div class="form-group">
            <button class="btn btn-primary" ui-sref="main.madsupport.edit" type="button">Valider</button>
            <button type="button" ui-sref="main.stockpap" class="btn btn-warning">Annuler</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
