<div st-table="displayedCollection" st-safe-src="marches.marcheslist" >
  <form class="form-horizontal">
    <div class="col-md-12">
      <div class="well bs-component">
        <fieldset>
          <legend>Filtre de recherches</legend>
          <div class="form-group">
            <label for="fournisseur" class="col-sm-1 control-label">Fournisseur</label>
            <div class="col-md-2">
              <select class="form-control" id="fournisseur" ga-search="fournisseur.libelle">
                <option value="">-- Tous --</option>
                <option ng-repeat="fournisseur in marches.fournisseurlist" ng-model="fournisseur" ng-value="fournisseur">{{fournisseur}}</option>
              </select>
            </div>
            <label for="groupe" class="col-sm-1 control-label">Groupe entité</label>
            <div class="col-md-2">
              <select class="form-control" id="groupe" ga-search="groupe.libelle">
                <option value="">-- Tous --</option>
                <option ng-repeat="groupe in marches.groupelist" ng-model="groupe" ng-value="groupe">{{groupe}}</option>
              </select>
            </div>
            <label for="entite" class="col-sm-1 control-label">Entité</label>
            <div class="col-md-2">
              <select class="form-control" id="entite" ga-search="entite.libelle">
                <option value="">-- Toutes --</option>
                <option ng-repeat="entite in marches.entitelist track by entite" ng-model="entite" ng-value="entite">{{entite}}</option>
              </select>
            </div>
            <div class="col-md-2 checkbox">
              <label>
                <input type="checkbox" ng-model="marches.val" ng-click="marches.inactifs(marches.val)"> Voir les marchés inactifs
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Liste</legend>
        <table class="table table-striped table-wrap table-bdf">
          <thead>
          <tr>
            <th></th>
            <th st-sort="nom">Nom</th>
            <th st-sort="dateDebut">Date début</th>
            <th st-sort="dateFin">Date fin</th>
            <th st-sort="groupe.libelle">Groupe entité</th>
            <th st-sort="entite.libelle">Entité</th>
            <th st-sort="fournisseur.libelle">Fournisseur</th>
            <th>Caractéristiques</th>
            <th st-sort="quantite">Volume init</th>
            <th st-sort="prix">Prix</th>
            <th>Suppr</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="marche in displayedCollection track by $index">
            <td><i ng-class="{'fa fa-close':marche.etat==1, '':marche.etat!=1}"></i></td>
            <td><a ui-sref="main.marche.edit({id: marche.id})">{{marche.nom}}</a></td>
            <td>{{marche.dateDebut  | date: 'dd/MM/yyyy'}}</td>
            <td>{{marche.dateFin  | date: 'dd/MM/yyyy'}}</td>
            <td>{{marche.groupe.libelle}}</td>
            <td>{{marche.entite.libelle}}</td>
            <td>{{marche.fournisseur.libelle}}</td>
            <td><span ng-repeat="carac in marche.listeCaracteristique track by $index">{{carac.libelle}},</span></td>
            <td>{{marche.quantite}}</td>
            <td>{{marche.prix}}</td>
            <td>
              <button class="btn btn-danger btn-xs" ng-click="endpoints.confirmDelete(endpoint)">
                <i class="fa fa-trash-o"></i> Supprimer
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
             	<td colspan="11">
             	<div st-pagination="" st-items-by-page="12"  st-displayed-pages="5"></div>
             	</td>
             	</tr>
          </tfoot>
        </table>
      </fieldset>
    </div>
  </div>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Actions</legend>
        <div class="form-group">
          <button class="btn btn-primary" ui-sref="main.marche.edit" type="button">Nouveau</button>
          <button class="btn btn-success" type="reset">Exporter</button>
          <button class="btn btn-danger" type="reset">Grille tarifaire</button>
          <button class="btn btn-danger" type="reset">Prévisionnel</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
