<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="dateDebut" class="col-sm-2 control-label">Date début</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="dateDebut" placeholder="DD/MM/YYYY" value="{{editMarche.marche.dateDebut | date: 'dd/MM/yyyy'}}">
      </div>
    </div>
    <div class="form-group">
      <label for="dateFin" class="col-sm-2 control-label">Date fin</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="dateFin" placeholder="DD/MM/YYYY" value="{{editMarche.marche.dateFin | date: 'dd/MM/yyyy'}}">
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="nom" class="col-sm-2 control-label">Nom</label>
      <div class="col-sm-3">
        <input type="text" disabled class="form-control" id="nom" placeholder="DD/MM/YYYY" ng-model="editMarche.marche.nom">
      </div>
      <div class="col-md-2 checkbox">
        <label>
          <input type="checkbox" ng-checked="editMarche.marche.etat==1"> Inactif
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="fournisseur" class="col-sm-2 control-label">Fournisseur</label>
      <div class="col-md-2">
        <select class="form-control" disabled id="fournisseur" ng-model="editMarche.marche.fournisseur.libelle">
          <option value="">-- Tous --</option>
          <option ng-repeat="fournisseur in editMarche.fournisseurlist" ng-value="fournisseur">{{fournisseur}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="groupe" class="col-sm-2 control-label">Groupe Entité</label>
      <div class="col-md-2">
        <select class="form-control" disabled id="groupe" ng-model="editMarche.marche.groupe.libelle">
          <option value="">-- Tous --</option>
          <option ng-repeat="groupe in editMarche.groupelist" ng-value="groupe">{{groupe}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="entite" class="col-sm-2 control-label">Entité</label>
      <div class="col-md-2">
        <select class="form-control" disabled id="entite" ng-model="editMarche.marche.entite.libelle">
          <option value="">-- Toutes --</option>
          <option ng-repeat="entite in editMarche.entitelist" ng-value="entite">{{entite}}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="volume" class="col-sm-2 control-label">Volume</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="volume" placeholder="DD/MM/YYYY" ng-model="editMarche.marche.quantite">
      </div>
    </div>
    <div class="form-group">
      <label for="prix" class="col-sm-2 control-label">Prix</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="prix" placeholder="DD/MM/YYYY" ng-model="editMarche.marche.prix">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="button" ui-sref="main.marche" class="btn btn-warning">Annuler</button>
        <button class="btn btn-danger" type="reset">Grille tarifaire</button>
        <button class="btn btn-danger" type="reset">Prévisionnel</button>
      </div>
    </div>
  </form>
</div>
