<div class="container">
  <form class="form-horizontal" name="marcheForm">
    <div class="col-md-12">
      <div class="well bs-component">
        <fieldset>
          <legend>Nouveau marché</legend>
          <div class="col-md-7">
            <div class="form-group">
              <label class="col-sm-2 control-label">Date début</label>
              <label class="input col-sm-4"
                     ng-class="{'state-error': marcheForm.dateDebut.$dirty && marcheForm.dateDebut.$invalid}">
                <input type="date" name="dateDebut" class="form-control" placeholder="DD/MM/YYYY" required
                       ng-model="editMarche.marche.dateDebut"/>

                <div class="note note-error" ng-if="marcheForm.dateDebut.$dirty" ng-messages="marcheForm.dateDebut.$error">
                  <div ng-message="required">Date de début obligatoire</div>
                </div>
              </label>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Date fin</label>
              <label class="input col-sm-4"
                     ng-class="{'state-error': marcheForm.dateFin.$dirty && marcheForm.dateFin.$invalid}">
                <input type="date" name="dateFin" class="form-control" placeholder="DD/MM/YYYY" required
                       ng-model="editMarche.marche.dateFin"/>

                <div class="note note-error" ng-if="marcheForm.dateFin.$dirty" ng-messages="marcheForm.dateFin.$error">
                  <div ng-message="required">Date de fin obligatoire</div>
                </div>
              </label>
            </div>
            <br>
            <div class="form-group">
              <label for="nom" class="col-sm-2 control-label">Nom</label>
              <div class="col-sm-5">
                <input type="text" required class="form-control" id="nom" placeholder="Nom" ng-model="editMarche.marche.nom">
              </div>
              <div class="col-md-2 checkbox">
                <label>
                  <input type="checkbox" ng-checked="editMarche.marche.etat==1"> Inactif
                </label>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="fournisseur" class="col-sm-2 control-label">Fournisseur</label>
              <div class="col-md-4">
                <select class="form-control"  id="fournisseur" ng-model="editMarche.marche.fournisseur.id"
                        ng-options="obj.id as obj.libelle for obj in editMarche.allfournisseurlist">
                  <option value="">-- Tous --</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="groupe" class="col-sm-2 control-label">Groupe Entité</label>
              <div class="col-md-4">
                <select class="form-control"  id="groupe" ng-model="editMarche.marche.groupe.id"
                        ng-options="obj.id as obj.libelle for obj in editMarche.allgroupelist">
                  <option value="">-- Tous --</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="entite" class="col-sm-2 control-label">Entité</label>
              <div class="col-md-4">
                <select class="form-control" id="entite" ng-model="editMarche.marche.entite.libelle">
                  <option value="">-- Toutes --</option>
                  <option ng-repeat="entite in editMarche.allentitelist" ng-value="entite.libelle">{{entite.libelle}}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="volume" class="col-sm-2 control-label">Volume</label>
              <div class="col-sm-4">
                <input type="text" required class="form-control" id="volume" placeholder="Volume" ng-model="editMarche.marche.quantite">
              </div>
            </div>
            <div class="form-group">
              <label for="prix" class="col-sm-2 control-label">Prix</label>
              <div class="col-sm-4">
                <input type="text" required class="form-control" id="prix" placeholder="Prix" ng-model="editMarche.marche.prix">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="col-md-12">
              <div class="well bs-component">
                <fieldset>
                  <legend>Caractéristiques</legend>
                  <div class="row">
                    <div class="col-md-12 checkbox">
                      <label>
                        <input type="checkbox"> Puce
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 checkbox">
                      <label>
                        <input type="checkbox"> Piste
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 checkbox">
                      <label>
                        <input type="checkbox"> Antenne (duale)
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 checkbox">
                      <label>
                        <input type="checkbox"> Translucide
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="well bs-component">
      <fieldset>
        <legend>Actions</legend>
        <div class="form-group">
          <div class="col-sm-10">
            <button ng-click="editMarche.submit()" type="submit" class="btn btn-primary">Valider</button>
            <button type="button" ui-sref="main.marche" class="btn btn-warning">Annuler</button>
            <button class="btn btn-danger" type="reset">Grille tarifaire</button>
            <button class="btn btn-danger" type="reset">Prévisionnel</button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
